.masterContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 1.6rem 2rem;

  gap: 1rem;
  background-color: white;
}

.logoContainer{
  display: flex;
  align-items: center;
  gap: 0.4rem;

  font-size: 2rem;
}

.informations{
  display: flex;
  align-items: center;

  gap: 1rem;

  span{
    cursor: pointer;
  }
}

.buttonsContainer{
  display: flex;
  align-items: center;

  gap: 0.5rem;
}
